In [ ]:
import numpy as np
import pandas as pd
import datetime

# DataFrames

In [ ]:
students=['Alice','Bob','Emily','Charlie']

In [ ]:
scores=[90,80,65,50]

In [ ]:
exam_results=pd.DataFrame({
    "names" : students,
    "scores" : scores
})

In [ ]:
exam_results

     names  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

# Searching (SQL SELECT)

In [ ]:
exam_results.loc[0,'scores']

90

In [ ]:
exam_results.loc[:,'scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [ ]:
exam_results.loc[2,:]

names     Emily
scores       65
Name: 2, dtype: object

In [ ]:
exam_results['scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

In [ ]:
exam_results[['names', 'scores']]

     names  scores
0    Alice      90
1      Bob      80
2    Emily      65
3  Charlie      50

# ADD Columns

In [ ]:
gender=['female', 'male', 'female', 'male']

In [ ]:
exam_results['gender']=gender

In [ ]:
exam_results

     names  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [ ]:
exam_results['scores']

0    90
1    80
2    65
3    50
Name: scores, dtype: int64

# Remove Columns

In [ ]:
exam_results.drop('names',axis=1)

   scores  gender
0      90  female
1      80    male
2      65  female
3      50    male

# Column Names And Row Index

In [ ]:
exam_results.columns

Index(['names', 'scores', 'gender'], dtype='object')

In [ ]:
exam_results.index

RangeIndex(start=0, stop=4, step=1)

# Renaming Columns

In [ ]:
exam_results.rename({"names":"First Name"},axis=1)

  First Name  scores  gender
0      Alice      90  female
1        Bob      80    male
2      Emily      65  female
3    Charlie      50    male

# Dealing with Missing Values

In [ ]:
sparse = pd.DataFrame({'a': [1, 2, 3],
                       'b': [np.nan, 4, np.nan],
                       'c': [5, np.nan, np.nan]})

In [ ]:
sparse

   a    b    c
0  1  NaN  5.0
1  2  4.0  NaN
2  3  NaN  NaN

In [ ]:
sparse.isna()

       a      b      c
0  False   True  False
1  False  False   True
2  False   True   True

In [ ]:
sparse.fillna(0)

   a    b    c
0  1  0.0  5.0
1  2  4.0  0.0
2  3  0.0  0.0

In [ ]:
sparse.dropna(axis=1)

   a
0  1
1  2
2  3

# Group by

In [ ]:
exam_results.groupby('gender').mean()

        scores
gender
female    77.5
male      65.0

In [ ]:
exam_results

     names  scores  gender
0    Alice      90  female
1      Bob      80    male
2    Emily      65  female
3  Charlie      50    male

In [ ]:
mylist = [1,2,1,2]

exam_results.groupby(mylist).get_group(1)

   names  scores  gender
0  Alice      90  female
2  Emily      65  female

In [ ]:
exam_results.groupby(mylist).get_group(2)

     names  scores gender
1      Bob      80   male
3  Charlie      50   male

In [ ]:
above_70 = exam_results['scores'] > 70
above_70

0     True
1     True
2    False
3    False
Name: scores, dtype: bool

In [ ]:
exam_results.groupby(above_70).mean()

        scores
scores
False     57.5
True      85.0

# Merge and Joining

In [ ]:
contacts = pd.DataFrame(
    {
        'name' : ['Alice', 'Charlie'],
        'tel'  : ['+44 1234 5678', '+44 3245 5564']
    }
)

In [ ]:
exam_results.merge(contacts, left_on='names', right_on='name')

     names  scores  gender     name            tel
0    Alice      90  female    Alice  +44 1234 5678
1  Charlie      50    male  Charlie  +44 3245 5564

In [ ]:
exam_results.merge(contacts, left_on='names', right_on='name', how='outer')

     names  scores  gender     name            tel
0    Alice      90  female    Alice  +44 1234 5678
1      Bob      80    male      NaN            NaN
2    Emily      65  female      NaN            NaN
3  Charlie      50    male  Charlie  +44 3245 5564